
  <div class="container-fluid">
    <h1 align="center">Add Data bro</h1>
    <form [formGroup]="customersFormGroup">
      
      <div class="form-group">
        <label>First Name :</label>
        <input type="text" class="form-control" name="firtsname" formControlName="firtsname">
    </div>
  
    <div class="form-group">
        <label>Last Name :</label>
        <input type="text" class="form-control" name="lastname" formControlName="lastname">
    </div>
  
    <div class="form-group">
      <label>Username :</label>
      <input type="text" class="form-control" name="username" formControlName="username">
    </div>
  
    <div class="form-group">
      <label>Password :</label>
      <input type="password" class="form-control" name="password" formControlName="password">
    </div>
  
    <div class="form-group">
      <label>Phone Type  :</label>
      <input type="text" class="form-control" name="phonetype" formControlName="phonetype"> 
     
    </div>
  
    <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" name="phonenumber" formControlName="phonenumber">
    </div>
  
    <div class="form-group">
        <label>Birth Date</label>
        <input type="date" class="form-control" name="birthdate" formControlName="birthdate">
    </div>
  
    <button (click)="cancelInsert()" class="btn btn-warning" type="button">Cancle</button>
    <button (click)="submitDataInsert()" [disabled]="!customersFormGroup.valid"  class="btn btn-primary" type="button">Submit Form</button>
    </form>
  </div>
<hr>
  
  