<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
    padding-top: 10px;
  }
  
  .container {
    padding: 2px 16px;
  }
  .padding {
    padding: 2px 30px;
  }
  img {
    border-radius: 5px 5px 0 0;
    padding-top: 10px;
  }
  </style>
<div class="jumbotron text-center">
  <h1>Bootcamp Enigma</h1> 
  <p>We specialize in blablabla</p> 
  <form>
    <div class="input-group">
      <input type="email" class="form-control" size="10" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row ">
    <div class="card">
      <img src="http://www.sqrtechno.com/templates/kronos/images/logos/klogo-s1.png" alt="Avatar" style="width:100%" style="padding-top: 30%;">
    </div>
    <div class="padding"></div>
    <div class="card">
      <img src="https://static.wixstatic.com/media/a4d847_ce7ee1e2658e4d759935f9e753327c42.jpg/v1/fill/w_298,h_60,al_c,q_80,usm_0.66_1.00_0.01/a4d847_ce7ee1e2658e4d759935f9e753327c42.jpg" alt="Avatar" style="width:100%" style="padding-top: 30%;">
    </div>
    <div class="padding"></div>
    <div class="card">
      <img src="http://3.bp.blogspot.com/-JGZ895A4gf0/TuSTYeSUFbI/AAAAAAAAETs/aKLxwFcq9_A/s1600/LOGO+BANK+INDONESIA.png" alt="Avatar" style="width:100%" >
    </div>
    <div class="padding"></div>
    <div class="card">
      <img src="https://2.bp.blogspot.com/-AAStQy31iRs/WhZBsFTWUyI/AAAAAAAAFTo/Iy37mg8gP5wHhHnPDd-c3IYO_gAjUiPYQCLcBGAs/s1600/OJK.jpg" alt="Avatar" style="width:100%">
    </div>
    
  </div>
</div>

